body{
    margin :0;
    padding: 0;
    height: 100vh;
    display :flex;
    justify-content:center;
    align-items:center;
    background: #169bcf;
}
.slider{
    width: 800px;
    border-radius:10px;
    overflow: hidden;
}
.slides{
    width:500%;
    height:500px;
    display:flex;   
}
.slides input{
    display:none;

}
.slide img{
    width:800px;
    height: 500px;

}
.navigation-manual{

}
.manual-btn{
    border:2px solid #2b3bc5;
    padding:5px;
    border-radius: 10px;
    cursor:pointer;
    transition: 1s;

}

.manual-btn:not(:last-child){
    margin-right:40px;

}
.manual-btn:hover{
    background: #1ad367;
}
#radio1:checked ~ . first{
margin-left: 0;
}

#radio2:checked ~ . first{
    margin-left: -20%;
    }
    
#radio1:checked ~ . first{
    margin-left: -40%;
    }
    
#radio1:checked ~ . first{
    margin-left: -60%;
    }